extends ../layout

block main
	#content
		.mdl-grid
			.mdl-cell.mdl-cell--12-col
				h2.mdl-color-text--primary Gift Lists
				
			if lists.length == 0
				.mdl-cell.mdl-cell--12-col
					p You haven't created a list yet, or joined anyone else's.
					p You can create one 
						a(href="/lists/add") here
						span , or join someone else's list by following the link in one of their invitations.
					
			else
				.mdl-cell.mdl-cell--12-col
					table.mdl-data-table.mdl-js-data-table.mdl-shadow--4dp
						//thead.background-1
							tr
								th.mdl-data-table__cell--non-numeric
								th
						tbody
							each list in lists
								tr
									td.mdl-data-table__cell--non-numeric
										img.list-image(src="/images/" + list.type + ".jpg")
										//span.mdl-badge(data-badge=list.gifts.length)
										a.mdl-color-text--primary(href="/lists/" + list.id + "#" + list.name) #{list.name}
										if list.notes
											span.mdl-layout--large-screen-only &nbsp;(#{list.notes})
									td
										//a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--primary.delete-button.mdl-layout--large-screen-only(href="/lists/" + list.id + "#" + list.name)
											i.material-icons.md-light keyboard_arrow_right
										if list.isOwner(user)								
											a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--primary.mdl-layout--large-screen-only(href="/lists/share/" + list.id + "#" + list.name)
												i.material-icons.md-light share									
											a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--primary.mdl-layout--large-screen-only(href="/lists/edit/" + list.id + "#" + list.name)
												i.material-icons.md-light edit									
											a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--gray.delete-list-button.mdl-layout--large-screen-only(data-id=list.id, data-name=list.name)
												i.material-icons.md-light delete
										if !list.isOwner(user)
											a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--primary.leave-list-button.mdl-layout--large-screen-only(data-id=list.id, data-name=list.name)
												i.material-icons.md-light redo
										button.mdl-layout--small-screen-only.mdl-button.mdl-js-button.mdl-button--icon(id="list" + list.id)
											i.material-icons more_vert
										ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="list" + list.id)
											//li.mdl-menu__item
												a.mdl-color-text--primary(href="lists/" + list.id) View
											if list.isOwner(user)
												li.mdl-menu__item
													a.mdl-color-text--primary(href="lists/share/" + list.id) Share
												li.mdl-menu__item
													a.mdl-color-text--primary(href="lists/edit/" + list.id) Edit
												li.mdl-menu__item
													a.mdl-color-text--primary.delete-list-button(data-id=list.id, data-name=list.name) Delete
											if !list.isOwner(user)
												li.mdl-menu__item
													a.mdl-color-text--primary.leave-list-button(href="lists/leave/" + list.id) Leave
				.mdl-cell.mdl-cell--12-col
					a.new.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-js-ripple-effect(href="/lists/add")
						i.material-icons.md-light add

				dialog#delete-list-dialog.mdl-dialog
					h4.mdl-dialog__title#dialog-title
					.mdl-dialog__content
						p Are you sure you want to delete the list?
						p This will delete all gifts in the list, even if other people have bought them.
						p#list-name
					.mdl-dialog__actions
						a.mdl-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.ok-button(href="/lists/delete/") Delete
						button.mdl-button.close-button.close(type="button") Cancel
								
				dialog#leave-list-dialog.mdl-dialog
					h4.mdl-dialog__title#dialog-title
					.mdl-dialog__content
						p Are you sure you want to leave this list?
						p#list-name
					.mdl-dialog__actions
						a.mdl-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.ok-button(href="/lists/leave/") Leave
						button.mdl-button.close-button.close(type="button") Cancel
								
block append script
