extends ../layout

block main
	#content
		.mdl-grid
			.mdl-cell.mdl-cell--12-col
				h2.mdl-color-text--primary= list.name
			.mdl-cell.mdl-cell--12-col
				a.mdl-color-text--primary(href="/") &laquo; Back to lists
				
			.mdl-cell.mdl-cell--12-col
				if numGifts === 0
					h6 No-one has added any gifts to your list yet. 
						a(href="/lists/share/#{list.id}") Share your list
						span &nbsp;again.
				else
					each person, name in gifts
						h6= name
						table.mdl-data-table.mdl-js-data-table.mdl-shadow--4dp
							each gift in person
								tr
									td.mdl-data-table__cell--non-numeric
										if gift.image
											img.mdl-layout--large-screen-only.list-image(src=gift.image)
										else 
											img.mdl-layout--large-screen-only.list-image(src="/images/default-gift.png")
										if gift.url
											a.mdl-color-text--primary(href=gift.url, target="_new")= gift.name
										else
											span.mdl-color-text--primary(href=gift.url, target="_new")= gift.name
										if gift.notes
											span.mdl-layout--large-screen-only &nbsp;(#{gift.notes})
											
									td
										if gift.isOwner(user)
											a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--primary(href="/gifts/edit/" + gift.id + "/" + list.id)
												i.material-icons.md-light edit									
											button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--gray.delete-gift-button(data-id=gift.id, data-name=gift.name, data-listId=list.id)
												i.material-icons.md-light delete
										else
											if gift.isBoughtBy(user)
												a.mdl-button.mdl-js-button.mdl-button--accent.mdl-layout--large-screen-only Bought
												a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--gray(href="/gifts/replace/" + gift.id + "/" + list.id)
													i.material-icons.md-light remove_shopping_cart
											else if !gift.isBought()
												a.mdl-button.mdl-js-button.mdl-button--primary.mdl-layout--large-screen-only Available
												a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--primary.mdl-color-text--white(href="/gifts/buy/" + gift.id + "/" + list.id)
													i.material-icons.md-light add_shopping_cart
											else 
												span.mdl-button.mdl-js-button.mdl-button--gray.mdl-layout--large-screen-only Unavailable


			.mdl-cell.mdl-cell--12-col
				a.new.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-js-ripple-effect(href="/gifts/add/" + list.id)
					i.material-icons.md-light add

			dialog#delete-gift-dialog.mdl-dialog
				h4.mdl-dialog__title#gift-name
				.mdl-dialog__content
					p Are you sure you want to delete the gift?
					p This will delete permanently remove the gift so people can't see it.
					p#list-name
				.mdl-dialog__actions
					a.mdl-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.ok-button(href="/gifts/delete/") Delete
					button.mdl-button.close-button.close(type="button") Cancel

block append script
